@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>

                        <button type="submit" class="btn btn-primary" name="provider" value="Facebook" title="Log in using your Facebook account">Facebook</button>

                    </p>
                </div>
            </form>

        </section>
    </div>
</div>
