@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Get Together Riders!</h1>

    <p>
        Get Together Riders (GTR) is for riders who choose to take the long way
        round to meet up with fellow riders. It doesn't matter what bike you ride as long as you
        ride. We will endeavor to have some GTR's throughout the year.
    </p>
    <p>
        Rides will be
        categorized as 800km, 1000km, 1200km and be referred to as GTR8, GTR10, GTR12.
    </p>


    Riders will choose their own route & riding times, it is up to each rider to manage their
    own ride to the meet-up place. The aim is to complete 50% or 100% of your nominated
    ride before the meet-up place. You must complete your full distance within 24 hours. At
    the start of your ride you must get a receipt/docket showing the time and location, a fuel
    receipt or ATM receipt is acceptable. You will then present your receipt at the meet-up
    place to validate your ride. There are no badges or plaques to hang on the wall for
    completing your ride, simply the satisfaction of completing the challenge you set yourself
    and you will get to meet some like minded riders. Once you have completed your first
    ride you will be allocated a GTR# which will be your Rider number. GTR numbers of
    personal choice can be granted at the discretion of Admin.

</div>
